<template>
  <div v-if="isReady" class="wrap">
    <h1 class="title">Comments</h1>
    <div class="content">
      <div class="content-row">
        <component-item v-for="(comment,index) in comments" 
          :comment='comment' 
          :key='index' 
          v-if="index % 2 == 0" 
          @delete_comment="getData()">
        </component-item>
      </div>
      <div class="content-row">
        <component-item v-for="(comment,index) in comments" 
          :comment='comment' 
          :key='index' 
          v-if="Math.abs(index % 2) == 1" 
          @delete_comment="getData()"> 
        </component-item>
      </div>
    </div>
    <h2>Lorem Ipsum is text of the typesetting industry</h2>
    <a href="./" class="backToHome"><button class="button"><img src="../assets/btn.png">Back to homepage</button></a>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import ComponentItem from './ComponentItem'
 
Vue.use(VueAxios, axios)

export default {
  name: 'Comments',
  components:{
    ComponentItem
  },
  data () {
    return {
      isReady:false,
      comments:[]
    }
  },
  created: function(){
    this.getData();
  },
  methods:{
    getData(){
      Vue.axios.get("https://5cbef81d06a6810014c66193.mockapi.io/api/comments").then((response) => {
        this.comments = response.data;
        this.isReady = true;
      })
    }
  }
}

</script>

<style scoped>
  .wrap{
    padding-bottom: 100px;
  }
  .content{
    display: flex;
    justify-content: space-between;
    width: 1166px;
    margin: auto;
  }
  .content-row{
    width: 570px;
  }
  .title{
    text-align: left;
    margin-left: 145px;
  }
  .backToHome{
    text-decoration: none;
  }
  .button{
    font-family: Sofia_Pro_Regular;
    width: 210px;
    height: 53px;
    border: 1px #60e3a1 solid;
    background-color: #fff;
    margin: 45px auto 0px;
    display: block;
    font-size: 16px;
  }
  h2{
    font-family: Sofia_Pro_SemiBold;
    font-size: 24px;
    color: #a6a6a7;
    text-align: center;
  }
  img{
    margin-right: 15px;
  }
</style>