<template>
	<div v-if="comment" class="main">	
		<h2 class="title">{{comment.title}}</h2>
		<p class="body">{{comment.body}}</p>
		<a :href="'/comment/'+comment.id"><button class="button">Read more</button></a>
		<button @click="deleteComment(comment.id)" class="button">Delete comment</button>
	</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

export default {
  name: 'ComponentItem',
  props:['comment'],
  data () {
    return {
    }
  },
  methods:{
  	deleteComment(id) {
  		Vue.axios.delete("https://5cbef81d06a6810014c66193.mockapi.io/api/comments/"+id).then((response) =>{
  			this.$emit('delete_comment');
  		});
  	}
  }
}
</script>

<style scoped>
	.main{
		width: 483px;
		padding: 20px 30px 45px;
		background-color: #fff;
		margin: 20px;
		text-align: left;
		box-shadow: 5px 6px 15px 7px #f9f9f9;
	}
	.button{
		width: 150px;
		height: 55px;
		border-radius: 3px;
		background-color: #60e3a1; 
		font-family: Sofia_Pro_SemiBold;
		font-size: 16px;	
		padding: 0;
		border: none;
	}
</style>
