<template>
  <div class="footer">
    <div class="contacts">
    	<div>mail@mailtest.com +30-6977664062</div>
    </div>
    <div class="copyright">
    	<div>Copyright © 2019 Test All Rights Reserved.</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'myFooter',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
	.footer{
		height: 102px;
		background-color: #1d1e25;
		display: flex;
		justify-content: space-between;
	}
	.contacts{
		color: white;
		display: flex;
		align-items: center;	
		width: 130px;
		margin-left: 50px;
		font-size: 16px;
		line-height: 30px;
	}
	.copyright{
		display: flex;
		align-items: center;
		color: #4a4d5e;
		margin-right: 50px;
		font-size: 13px;
	}
</style>
