<template>
  <div class="header">
    <div class="header-logo">
    	<img src="../assets/logo.png" class="logo">
    </div>
    <div class="header-nav">
    	<a href="/#info">ABOUT US</a>
    	<a href="/#comment">WRITE COMMENT</a>
    	<a href="/comments">COMMENTS</a>
    </div>
  </div>

</template>

<script>
export default {
  name: 'myHeader',

  data () {
    return {
    }
  }
}
</script>

<style scoped>
	.header{
		display: flex;
		height: 40px;
		background-color: white; 
		justify-content: space-between;
		margin-bottom: 100px;
	}
	.header-logo{
		height: 40px;
		width: 300px;
		background-color: white;
	}
	.header-nav{
		height: 40px;
		width: 500px;
		background-color: white;
		font-size: 14px;
		line-height: 48px;	
	}
	a{
		display: inline-block;
		margin-right: 38px;
		text-decoration: none;
		text-transform: uppercase;
	}
</style>
