<template>
<div>
  <div class="content">
    <h1 class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
  </div>
  <div>
    <img src="../assets/main.png">
  </div>
  <div class="info-content-wrap" id="info">
    <div class="info-content">
      <div class="info-block">
        <img src="../assets/img1.png">
        <h2>Who we are</h2>
        <ul>
          <li>It is a long established fact that a reader will be distracted</li>
          <li>The readable content of a page when looking at its layout</li>
          <li>The point of using Lorem Ipsum</li>
          <li>As opposed to using 'Content here, content here'.</li>
        </ul>
      </div>
      <div class="info-block">
        <img src="../assets/img2.png">
        <h2>What we do</h2>
        <ul>
          <li>Many desktop publishing packages and web page</li>
          <li>There are many variations of passages of Lorem Ipsum available, but the majority have</li>
          <li>Various versions have evolved over the years, sometimes by accident</li>
        </ul>
      </div>
      <div class="info-block">
        <img src="../assets/img3.png">
        <h2>Technology</h2>
        <ul>
          <li>The point of using Lorem Ipsum</li>
          <li>As opposed to using 'Content here, content here'</li>
          <li>Contrary to popular belief, Lorem Ipsum is not simply random text</li>
          <li>A Latin professor at Hampden-Sydney College in Virginia</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="new-comment" id="comment">
    <div class="new-comment-content">
      <div class="write-comment-block">
        <h1 class="write-comment">Write comment</h1>
        <div class="linee"></div>
      </div>
      <div class="form-block"> 
        <form @submit.prevent="saveComment()">
          <input type="text" name="title" placeholder="Title" v-model="new_comment.title" required="required">
          <textarea placeholder="Your comment" v-model="new_comment.body" required="required"></textarea >
          <a href=""><button class="save" >Send</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
  name: 'Main',
    data() {
    return {
      new_comment:{
        title: "",
        body: "",
      }
    }
  },
    methods:{
      saveComment(){
        this.new_comment.created_at = Date.now();
        Vue.axios.post("https://5cbef81d06a6810014c66193.mockapi.io/api/comments",this.new_comment).then((response) => {
          this.comments = response.data;
          this.new_comment.title = "";
          this.new_comment.body = "";
          this.$toasted.success('Saved');
        })
      }
    }
}
</script>

<style scoped>
  input::-moz-placeholder { color: #60e3a1; }
  input::-webkit-input-placeholder { color: #60e3a1; }
  textarea::-webkit-input-placeholder { color: #60e3a1; }
  .content{
    margin-left: 180px;
    width: 1006px; 
    text-align: left;
    color: #111518;
  }
  .info-content-wrap{
    height: 535px;
    background-color: #f7f7f7;
  }
  .info-content{
    width: 1006px;
    height: 535px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
  }
  .save{
    padding: 0;
    border: none;
  }
  .info-block{
    width: 290px;
    height: 535px;
    text-align: left;
    padding-top: 100px;
  }
  .title{
    font-size: 70px;

  }
  .info{
    height: 536px;
  }
  img{
    margin-left: 20px;
  }
  .new-comment{
    height: 576px;
    background-color:#1d1e25;
  }
  .write-comment{
    font-family: Sofia_Pro_Bold;
    color: white;
    font-size: 55px;
    line-height: 50px;
    margin-left: 130px;
    margin-top: 143px;
    width: 100px
  }
  .linee{
    height: 5px;
    width: 70px;
    background-color: #f9d10d;
    margin-left: 130px;

  }
  .form-block{
    width: 720px;
    padding-top: 140px;
    text-align: left;
  }
  .new-comment-content{
    margin: 0px 50px;
    width: 1266px;
    height: 575px;
    border-bottom: 1px solid #2b2c36;
    display: flex;
    justify-content: space-between;
  }
  .write-comment-block{
    width: 545px;
  }
  button{
    background-color: #60e3a1;
    border-radius: 3px;
    width: 150px;
    height: 55px;
    font-family: Sofia_Pro_Regular;
    font-size: 16px;
    line-height: 53px;
    margin-top: 15px;
  }
  textarea{
    width: 590px;
    height: 148px;
    border: 1px solid #60e3a1;
    border-radius: 3px;
    font-family: Sofia_Pro_Regular;
    font-size: 16px;
    line-height: 31px;
    background-color: #1d1e25;
    color: white;
    padding: 10px;
  }
  input{
    height: 53px;
    width: 590px;
    border: 1px solid #60e3a1;
    border-radius: 3px;
    background-color: #1d1e25;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
  }
  h2{
    font-family: Sofia_Pro_Bold;
    font-size: 36px;
    line-height: 40px;
    color: #101417;
    text-align: left;
    margin-left: 20px;
    margin-top:10px;
  }
  li{
    font-family: Sofia_Pro_SemiBold;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: left;
    line-height: 20px;
  }

</style>
