<template>
  <div>
    <div class="content">
    	<a href="/comments" class="backToComments"><img src="../assets/btn.png">Back to Comments</a>
    	<h1 class="title">{{comment.title}}</h1>
    	<p class="body">{{comment.body}}</p>
   		<hr>
    	<h2>Lorem Ipsum is text of the typesetting industry</h2>
    	<a href="/" class="backToHome"><button class="button"><img class="imgBackTo" src="../assets/btn.png">Back to homepage</button></a>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

export default {
  name: 'UserComment',
 
  data () {
    return {
      comment:{
      	title:"",
      	body:""	
      }
    }
  }, 
  created: function(){
    this.getData();
  },
  methods:{
    getData(){
      Vue.axios.get("https://5cbef81d06a6810014c66193.mockapi.io/api/comments/"+this.$route.params.id).then((response) => {
        this.comment = response.data;
      })
    }
  }
}
</script>

<style scoped>
	.content{
	 	margin: auto;
	 	width: 775px; 
	 	text-align: left;
		color: #111518;
		margin-bottom: 100px;
	}
	.title{
		font-size: 48px;
		font-family: Sofia_Pro_Bold;
	}
	.body{
	 	font-family: Sofia_Pro_Regular;
	 	line-height: 28px;
	 	font-size: 16px;
	}
	.backToComments{
	 	font-family: Sofia_Pro_SemiBold;
		font-size: 16px;
	}
	.backToHome{
		text-decoration: none;
	}
	.button{
		font-family: Sofia_Pro_Regular;
		width: 210px;
		height: 53px;
		border: 1px #60e3a1 solid;
		background-color: #fff;
		margin: 45px auto 0px;
		display: block;
		font-size: 16px;
	}
	img{
		margin-right: 15px;
	}
	h2{
		font-family: Sofia_Pro_SemiBold;
		font-size: 24px;
		color: #a6a6a7;
		text-align: center;
	}
	hr{
		color: #ededef;
		display: block;
		margin: 100px 0px;
	}
</style>
