<template>
  <div id="app">
    <myHeader/>
    <router-view/>
    <myFooter/>
  </div>
</template>

<script>
import myHeader from './components/Header'
import myFooter from './components/Footer'

export default {
  name: 'App',
  components: {
    myHeader,
    myFooter,
  }
}
</script>

<style>
  @font-face {
      font-family: Sofia_Pro_Bold;
      src: url(./assets/fonts/Sofia_Pro_Bold.ttf);
     }
  @font-face {
      font-family: Sofia_Pro_Medium; 
      src: url(./assets/fonts/Sofia_Pro_Medium.ttf);
     }
  @font-face {
      font-family: Sofia_Pro_Regular; 
      src: url(./assets/fonts/Sofia_Pro_Regular.ttf); 
     }
  @font-face {
      font-family: Sofia_Pro_SemiBold;
      src: url(./assets/fonts/Sofia_Pro_SemiBold.ttf); 
     }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 1366px;
    margin: auto;
  }
</style>
